body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

div{
    max-width: 40%;
    text-align: -webkit-auto;
    margin: auto;
}

p {
  display: block;
}

p > button{
  float: right;
}

.tick{
  text-decoration: line-through;
}

#msg{
  color: red;
}