//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content


doctype html

head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    title= title

body
    block content
